<div class="container">
  <header class="jumbotron">
    <h1>Library</h1>
  </header>
</div>
<div class="list row mt-3 mb-5">
    <div class="col-md-7">
      <div class="mb-3 search">
        <i class="fa fa-search mr-1 ml-0"></i>
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchName()"
          >
            SEARCH
          </button>
        </div>
      </div>
    </div>


<!--All books-->
<div class="col-md-7">
  <h4><i class="fas fa-book mr-2 ml-0 mt-2"></i>Books List</h4>

    <div class="row mt-2 mb-2">
      <div class="col-md-4 col-sm-6 mb-3"           
      *ngFor="let product of products; let i = index"
      [class.active]="i == currentIndex">  <!--col-md-3-->
          <div class="product-grid">
              <div class="product-image">
                  <div>
                      <img type="image" src="assets/img/{{product.name}}.png">
                  </div>
                  <!--<span class="book-label">NEW</span>-->
                  <ul class="product-links">
                      <li><a href="assets/img/{{product.name}}.png" class="image" target="_blank"><i class="fa fa-eye"></i></a></li>
                  </ul>
                  <div class="learn-more" (click)="setActiveProduct(product, i)">LEARN MORE</div>
              </div>
              <div class="product-content">
                  <h3 class="title">
                    <!--<a href="#">-->
                      {{ product.name }}
                    <!--</a>-->
                  </h3>
                  <div class="category">Category: {{ product.category }}</div>
              </div>
          </div>
      </div>
    </div>


  <button class="btn btn-sm btn-danger mb-5 ml-0" (click)="removeAllProducts()" *ngIf="showModeratorBoard || showAdminBoard">
    Remove All
  </button>
</div>

    <div class="col-md-5">
      <app-product-details
        [viewMode]="true"
        [currentProduct]="currentProduct"
      ></app-product-details>
    </div>
</div>

    