<div class="container">
  <header class="jumbotron">
    <h1>Add</h1>
  </header>
</div>

<div>
  <div class="submit-form mt-3 mb-2">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="product.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" [(ngModel)]="product.category" >
          <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
        </select>
        
              </div>
        

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="product.description"
          name="description"
        />
      </div>
     
      <div class="form-group">
        <label for="published">Published</label>
        <input
          class="form-control"
          id="published"
          required
          [(ngModel)]="product.published"
          name="published"
        />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input
          class="form-control"
          id="author"
          required
          [(ngModel)]="product.author"
          name="author"
        />
      </div>

      


      <button (click)="saveProduct()" class="btn submit-button mb-5">SUBMIT</button>
    </div>

    <div *ngIf="submitted">
      <h5>The product was added successfully!</h5>
      <button class="btn submit-button mt-2" (click)="newProduct()">ADD NEW</button>
    </div>
  </div>
</div>
