<div class="container">
  <header class="jumbotron">
    <h1>Welcome to LibBookPro</h1>
  </header>
  <div class="row mt-3 mb-5">
    <div class="col-md-5 col-lg-5 col-xl-5">
    <p><i class="fas fa-book mr-2 ml-0 mt-2"></i> <b><em>LibBookPro</em></b> is your ideal place for books.<br>
       We love to share ideas with you.<br>
       Reading is essential to your personal growth, 
       <br>so don't get so busy working that you forget to read!
       <br>
       
       <br>
       <span class="quote">'If knowledge is power, <br>learning is your superpower.' <span class="name">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Jim Kwik</span></span>
        <br><br>

        <a href="products"><button class="btn btn-md mb-5 ml-0 journey">
          START YOUR JOURNEY
        </button></a>
    </p>
    </div>
    <div class="col-md-7 col-lg-7 col-xl-7 d-flex justify-content-end mb-5">
      <img src="assets/img/books_cut.jpg" width="550" class="img-fluid">
    </div>
</div>
</div>

  